---
import OptimizedImage from "../../layouts/utilities/OptimizedImage.astro";
import DisplayDemo  from "./DisplayDemo"


---

<section class="relative overflow-hidden md:min-h-screen flex items-center justify-center">

  <!-- <img
    src="/overlay.png"
    class="absolute top-0 w-full h-full object-cover z-[100] "
  /> -->

  <!-- VIDEO BACKGROUND -->
 <video
  autoplay
  muted
  loop
  playsinline
  poster="/hero-frame.jpg"
  onloadeddata="this.previousElementSibling.style.opacity = 0; this.style.opacity = 1;"
  class="absolute top-0 left-0 w-full md:h-auto h-[70%] md:object-fit object-cover object-center z-0 md:opacity-9"
>
  <source src="https://res.cloudinary.com/ptbysr/video/upload/v1760559177/hero-bg_f2o6uj.mp4" type="video/mp4" />
</video>


  <img src="/thumbnail.png" class="absolute top-0 w-full  object-cover -z-[100] h-[50%]" />

  <!-- FALLBACK / FIRST FRAME -->
  <!-- <img
    src="/hero-frame.png"
    alt="Background frame"
    class="absolute inset-0 w-full h-full object-cover transition-opacity duration-700 z-0"
  /> -->

  <!-- HERO CONTENT -->
  <div class="relative z-10 px-5 pt-32 mx-auto mb-20 md:mb-0 md:px-12 lg:px-24 w-screen md:max-w-7xl text-center text-white md:flex md:flex-col md:justify-center md:items-center">
    <h2 class="md:max-w-[800px] mx-auto md:text-5xl/snug sm:text-4xl/snug text-3xl capitalize font-medium mb-4">
      Scale excellent customer support affordably with AI
    </h2>
    <p class="text-base md:w-[50%] font-medium text-slate-100">
      At Sakura, we work with Nigerian/African businesses to scale excellent customer support ,without the high costs of traditional support teams, using AI.
    </p>
    <a
          href="/get-demo"
          class="mt-5 px-7 py-4 rounded-full bg-main-400 text text-white transition-all hover:bg-main-500 inline-block text-center">
          Get a Demo
        </a>

    <div class="relative w-full md:mx-auto max-w-2xl items-center mt-20">
      <div class=" border-black md:p-10 pt-2 md:bg-white/10 md:backdrop-blur-md rounded-[34px] md:border border-white/20">
        <DisplayDemo client:load />
      </div>
    </div>
  </div>
</section>

