---
import OptimizedImage from "../../layouts/utilities/OptimizedImage.astro";
import DisplayDemo  from "./DisplayDemo"

const featuresList = [
  {
    title: "Astro, Tailwind CSS and Alpine.js",
    description: "These are the popular technologies behind Syntro.",
  },
  {
    title: "Includes 6 pages",
    description:
      "You will find this landing, FAQ, terms, privacy, sign up, and sign in pages.",
  },
  {
    title: "Different sections",
    description:
      "The starter includes different feature sections, a pricing table, testimonial, CTA, and full forms.",
  },
];
---

<section class="relative overflow-hidden min-h-screen flex items-center justify-center">

  <!-- <img
    src="/overlay.png"
    class="absolute top-0 w-full h-full object-cover z-[100] "
  /> -->

  <!-- VIDEO BACKGROUND -->
  <video
    autoplay
    muted
    loop
    playsinline
    poster="/hero-frame.jpg"
    onloadeddata="this.previousElementSibling.style.opacity = 0; this.style.opacity = 1;"
    class="absolute top-0 opacity"
  >
    <source src="/hero-bg.mp4" type="video/mp4" />
  </video>

  <!-- FALLBACK / FIRST FRAME -->
  <!-- <img
    src="/hero-frame.png"
    alt="Background frame"
    class="absolute inset-0 w-full h-full object-cover transition-opacity duration-700 z-0"
  /> -->

  <!-- HERO CONTENT -->
  <div class="relative z-10 px-5 pt-32 mx-auto md:px-12 lg:px-24 max-w-7xl text-center text-white">
    <h2 class="max-w-[900px] text-5xl/snug sm:text-4xl/snug md:text-5xl/snug font-medium mb-4">
      Exceptional customer experiences for Africa with our AI agents.
    </h2>
    <p class="text-base font-medium text-slate-100">
      Sakura delivers seamless customer experiences at scale with AI agents.
    </p>

    <div class="relative w-full mx-auto max-w-2xl items-center mt-20">
      <div class="border border-black p-10 bg-white/10 backdrop-blur-md rounded-2xl border border-white/20">
        <DisplayDemo client:load />
      </div>
    </div>
  </div>
</section>

