<section class="bg-base-950 bg-opacity-60 relative py-20 text-white">
  <div class="max-w-7xl mx-auto md:px-8 px-3 md:px-12 lg:px-24">
    <div class="text-center mb-14">
      
      <h2
        class="text-2xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4  text-white">
        Integrate your AI agents with your already existing business ecosystem.
      </h2>
      <p class="mt-4 text-gray-200 max-w-xl mx-auto">
        Connect with your business tools like Zendesk, WhatsApp, and more to streamline your operations with ease.
      </p>
    </div>
    <div class="flex justify-center w-full">

      <img src="/integration.svg" alt="Integrations" class="" />
    </div>
    
  </div>
      <img src="/backdrop-black.png" class="-z-[100] absolute top-0 w-full h-full object-cover " />
</section>
