---
import BaseLayout from "../layouts/BaseLayout.astro";
import DemoForm from "../components/Forms/DemoForm";
---

<BaseLayout>
<div class="relative">

  <DemoForm client:load/>
  <img
    src="/backdrop-black.png"
    class="-z-[100] absolute top-0 w-full h-full object-cover "></img>
</div>


</BaseLayout>
