---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
import { Font } from "astro:assets";
---

<html
  lang="en"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated">
  <head>
    <BaseHead />
    <Font cssVariable="--font-sans" preload />
  </head>
  <body class="bg-white flex flex-col min-h-svh">
    <Navigation />
    <main class="grow"><slot /></main>
    <Footer />
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5D4LH9G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  </body>
</html>
