---
import OptimizedImage from "../../layouts/utilities/OptimizedImage.astro";

const sections = [
  {
    title: "Links",
    links: [
      { name: "Home", href: "/" },
      { name: "About", href: "/about" },
      { name: "Contact us", href: "/contact" },
    ],
  }
];
---

<footer
  class="bg-main-500">
  <div class="px-6 md:px-12 lg:px-24 py-20 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mb-16">
      <div class="md:col-span-1">
        <a href="/" class="inline-flex items-center gap-3">
          <img src="/min-logo.png" alt="Logo" class="h-8 w-auto" />
        </a>
        <p class="mt-4 text-sm text-white">
          At Sakura, we build AI agents that deliver excellent customer experiences at scale for businesses across Africa.
        </p>
      </div>

      <div class="md:col-span-2">
       <div class="grid grid-cols-2 md:grid-cols-4 gap-8 text-sm text-gray-600">
      {
        sections.map(({ title, links }) => (
          <div>
            <h4 class="text-base text-white mb-5">{title}</h4>
            <ul>
              {links.map(({ name, href }) => (
                <li class="first:prose-a:pt-0 last:prose-a:pb-0">
                  <a
                    href={href}
                    class="text-white font-light hover:text-gray-200 py-2 inline-block transition">
                    {name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
      </div>
    </div>

    

    <div
      class="pt-12 mt-12 border-t border-base-200 flex flex-col md:flex-row justify-between items-center text-xs text-gray-400">
      <p>
        &copy; {new Date().getFullYear()} Your Company Name. Crafted by Michael Andreuzza
        &
        <a
          href="https://getastrothemes.com/free-astro-themes-templates/"
          class="underline text-blue-600 hover:text-blue-800">
          Getastrothemes
        </a>
      </p>
      <p>Additionally Development by Bektur Aslan</p>
    </div>
  </div>
</footer>
