---
import OptimizedImage from "../../layouts/utilities/OptimizedImage.astro";
---

<header
  class="border-b border-black/5 sticky top-0 z-50 bg-white/40 backdrop-blur-2xl">
  <div class="w-full mx-auto md:px-8 px-3 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-4 mx-auto lg:items-center lg:justify-between lg:flex-row lg:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="text-black inline-flex items-center gap-3">
          <OptimizedImage width={100} src="/nav-logo.svg" alt="logo" />
        </a>
<div class="flex gap-5">
<a
          href="/get-demo"
          class=" px-7 py-4 rounded-full bg-main-400 text text-white transition-all hover:bg-main-500 inline-block text-center">
          Get a Demo
        </a>
        <button
          @click="open = !open"
          :aria-expanded="open.toString()"
          aria-controls="main-navigation"
          aria-label="Toggle navigation menu"
          class="inline-flex items-center justify-center p-2 text-base-400 hover:text-black focus:outline-none focus:text-black lg:hidden">
          <svg
            :class="{'rotate-90': open}"
            class="w-6 h-6 transition-transform duration-300 ease-in-out"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24">
            <path
              x-show="!open"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16">
            </path>
            <path
              x-show="open"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12">
            </path>
          </svg>
        </button>

</div>
        
         
      </div>
      <nav
        :class="{'h-auto gap-[40px] mt-10': open, 'h-0': !open}"
        id="main-navigation"
        class="flex-col items-center flex-grow gap-4 lg:gap-8 flex overflow-hidden lg:pb-0 lg:flex lg:justify-end lg:h-auto lg:flex-row">
        <a
          class="text- text-black transition duration-300 hover:text-base-500 lg:ml-auto"
          href="/team">
          About Us
        </a>
        
       

        <a
          href="/get-demo"
          class="text- text-black transition duration-300 hover:text-base-500 relative">
          Contact Us
        </a>

        <div class="inline-flex items-center gap-2 list-none py-px lg:ml-auto">
        <a
          href="/get-demo"
          class="px-7 py-4 rounded-full bg-main-400 text text-white transition-all hover:bg-main-500 inline-block text-center">
          Get a Demo
        </a>
        </div>
      </nav>
    </div>
  </div>
</header>
